* {
  font-family: Arial, Helvetica, sans-serif;
}
#submit {
  border: 1px solid black;
  text-decoration: none;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 6px;
  color: black;
  background: salmon;
}